/* Navbar */

.navbar-navItem {
  cursor: pointer;
  transition: color 0.75s ease;
}

.navbar-navItem:hover {
  color: #39eefa;
}

/* About */

.aboutMe-line {
  position: relative;
}

.aboutMe-line::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 15%;
  top: 15px;
  right: 35%;
  background-color: #a8a8a8;
}
.aboutMe-line::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 35%;
  top: 14px;
  right: 0;
  background-color: #ffffff;
}

.aboutMe-name-line {
  position: relative;
}

.aboutMe-name-line::after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 40px;
  bottom: -25px;
  left: 0;
  background-color: #39eefa;
}

/* SKILLS */
.skills-title {
  position: relative;
}

.skills-title::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 63%;
  bottom: 15px;
  right: 37%;
  background-color: #a8a8a8;
}
.skills-title::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 37%;
  bottom: 14px;
  right: 0;
  background-color: #ffffff;
}

/* Project */
.custom-pagination {
  gap: 0px !important;
}
.custom-pagination .swiper-pagination-bullet {
  background: black !important;
  border: 2px solid #8a8a8a !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #39edf9 !important;
  border: none !important;
}

/* Connect */
.connect-section {
  z-index: 5;
}
