@import "tailwindcss";

@theme {
  --font-vollkorn: "Vollkorn", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --text-primary-color: #39eefa;
}

body {
  background-color: #0a090f;
}
