@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@theme {
  --font-vollkorn: "Vollkorn", serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  background-color: #0a090f;
}
